<div class="content">
    <div class="exp my-5">
        <h3>Mes projets</h3>
        <div class="text-exp">
            <ng-container *ngFor="let exp of projectArray">
                <div class="exp-project-content">
                    <div class="exp-project-img">
                        <img [src]="exp.img">
                    </div>
                    <div class="exp-project-explication">
                        <p>{{exp.content}}</p>
                        <ng-container *ngIf="exp.link">
                            <div>
                                <a target="_blank" class="links" [href]="exp.link">Lien du projet</a>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="exp.git">
                            <div>
                                <a target="_blank" class="links" [href]="exp.git">Lien du github</a>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>