.navbar {
  height: 70px;
  background: black;
  width: 100%;
  @extend .flexRow;
  position: fixed;
}

.nav-logo {
  width: 25%;
  @extend .flexRow;
}

.logo {
  cursor: pointer;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 60px;
    height: 60px;

  }
}

.name {
  @extend .text-gradient;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger {
  display: none;
}

.btn-hamburger {
  display: none;
  cursor: pointer;

  & span {
    transition: transform .3s, display .3s ease-in-out;
    width: 50px;
    height: 10px;
    display: block;
    margin: 0 10px 5px 0;
    border-radius: 10px;
    background: linear-gradient(90deg, white, #CD8D0B)
  }
}

.nav-menu {
  @extend .flexRow;
  width: 60%;
  transition: width .3s, height .3s;

  & .menu-list {
    @extend .flexRow;
    list-style: none;
    justify-content: flex-end;
    padding-right: 40px;
    margin: auto;
    width: 100%;

    & li {
      @extend .text-gradient;
      margin: 0 10px 0 auto;
      cursor: pointer;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }


}

.hamburger-animed {
  & :nth-child(2) {
    display: none;
  }

  & :nth-child(1) {
    transform: rotate(135deg);
  }

  & :nth-child(3) {
    transform: rotate(44deg);
    margin-top: -15px;
  }
}

@media(max-width:1024px) {
  .hamburger {
    display: flex;
    width: 20%;
    justify-content: flex-end;
  }

  .btn-hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .nav-logo {
    width: 80%;
  }

  .nav-menu {
    background: linear-gradient(90deg, white, #CD8D0B);
    position: absolute;
    width: 0px;
    height: 0vh;
    top: 100%;
    display: block;
    text-align: center;

    & .menu-list {
      display: none;
      margin-top: 50px;

      & li {
        margin-top: 5px;
        background: none;
        -webkit-text-fill-color: black;
        color: black !important;
      }
    }
  }
}

@media(max-width:330px) {
  .name {
    font-size: 10px;
  }
}