.exp-project-content {
    @extend .flexRow;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.exp-project-img {
    padding: 5px;
    width: 20%;
    @extend .flexRow;
    justify-content: center;
    align-items: center;

    & img {
        width: 50%;
    }
}

.exp-project-explication {
    padding: 5px;
    width: 80%;
    @extend .flexRow;
    align-items: center;

    & p {
        width: 100%;
        margin: 0;
        text-align: justify;

    }

    & a {
        width: 100%;
    }
}

.text-primaire {
    text-align: justify;
}

@media (max-width:992px) {
    .exp-project-img {
        & img {
            width: 100%;
        }
    }
}

@media (max-width:768px) {
    .exp-project-explication {
        font-size: 12px;
    }

    .text-primaire {
        font-size: 12px;
    }
}

@media (max-width:475px) {
    .exp-project-explication {
        font-size: 10px;
    }

    .text-primaire {
        font-size: 10px;
    }

    .exp-project-img {
        width: 100%;

        & img {
            width: 50%;
        }
    }

    .exp-project-explication {
        width: 100%;
        font-size: 12px;
        margin-top: 10px;

        & p {
            text-align: center;
        }

        & a {
            text-align: center;
        }
    }

    .text-primaire {
        font-size: 12px;
    }
}