<div class="content">
    <div class="about my-5">
        <h3>A propos</h3>
        <div class="text-about">
            <p class="text-primaire">
                Je m'appelle SAUTRON Jean Davidson. Je suis né à La Réunion et j'ai passé toute mon enfance en France
                (15 ans).
                Je suis une personne curieuse, rigoureuse, patiente et persévérante. J'adore résoudre des problèmes par
                l'informatique. Pendant mes temps libres, j'apprends en autodidacte à jouer de la guitare, à réaliser
                des projets personnels en informatique, et de temps en temps, je vais à la pêche.
            </p>
        </div>
    </div>
    <div class="separator"></div>
    <div class="parcourt my-5">
        <h3>Mon parcours</h3>
        <div class="text-parcours">
            <p class="text-primaire">
                J'ai arrêté l'école en 3e car je n'aimais pas trop les cours, et aussi parce que je voulais commencer à
                travailler dès mon jeune âge. J'ai donc suivi un apprentissage en tant que vendeur dans une boulangerie
                (vente alimentaire) pendant 2 ans. J'ai obtenu mon CAP, puis j'ai travaillé pendant 6 mois dans un
                Burger King en France.
                <br>
                <br>
                Cependant, j'ai réalisé que je ne voulais pas faire ça toute ma vie, alors j'ai entrepris une
                reconversion professionnelle en mécanique automobile. Je n'ai pas pu obtenir de place à l'AFPAR car il
                n'y en avait pas beaucoup de disponibles, alors je me suis tourné vers la soudure en apprentissage.
                <br>
                <br>
                Pendant cette période d'apprentissage, je me suis rendu compte que je n'étais pas du tout manuel, donc
                j'ai arrêté l'apprentissage pendant ma période d'essai. C'est à ce moment-là que je me suis posé la
                question de ce que j'allais faire. C'est là que j'ai décidé, étant donné que je suis toujours sur mon
                ordinateur, de travailler dans ce domaine. C'est ainsi que j'ai commencé à suivre une formation de
                digital codeur avec l'AFPAR pour apprendre les bases de la programmation, puis j'ai suivi une formation
                DWWM (développeur web et web mobile Bac + 2) que j'ai réussi à obtenir.
            </p>
            <a href="assets/documents/CV_2023-08-04_Jean Davidson_SAUTRON.pdf" target="_blank" class="links">Mon
                cv</a>
        </div>
    </div>
    <div class="separator"></div>
    <div class="exp my-5">
        <h3>Mes experiences</h3>
        <div class="text-exp">
            <div class="exp-content">
                <div class="exp-img">
                    <img src="assets/img/logo.png">
                </div>
                <div class="exp-explication">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, aliquam quidem autem veritatis,
                        architecto voluptatibus sit temporibus dolorum praesentium necessitatibus blanditiis doloremque
                        ea iure,
                        libero rerum dolores explicabo quas optio.</p>
                </div>
            </div>
            <div class="exp-content">
                <div class="exp-img">
                    <img src="assets/img/logo.png">
                </div>
                <div class="exp-explication">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, aliquam quidem autem veritatis,
                        architecto voluptatibus sit temporibus dolorum praesentium necessitatibus blanditiis doloremque
                        ea iure,
                        libero rerum dolores explicabo quas optio.</p>
                </div>
            </div>
            <div class="exp-content">
                <div class="exp-img">
                    <img src="assets/img/logo.png">
                </div>
                <div class="exp-explication">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, aliquam quidem autem veritatis,
                        architecto voluptatibus sit temporibus dolorum praesentium necessitatibus blanditiis doloremque
                        ea iure,
                        libero rerum dolores explicabo quas optio.</p>
                </div>
            </div>
        </div>
    </div>
</div>