<div class="content">
    <div class="skills-container my-5">
        <div class="skills-title mb-3">
            <h3>Front-end</h3>
        </div>
        <ng-container *ngFor="let elem of frontArray">
            <div class="skills-content">
                <div class="img-front">
                    <img [src]="elem.url">
                </div>
                <span>{{elem.title}}</span>
            </div>
        </ng-container>
    </div>
    <div class="skills-container my-5">
        <div class="skills-title mb-3">
            <h3>Backend-end</h3>
        </div>
        <ng-container *ngFor="let elem of backArray">
            <div class="skills-content">
                <div class="img-front">
                    <img [src]="elem.url">
                </div>
                <span>{{elem.title}}</span>
            </div>
        </ng-container>
    </div>
</div>