<div class="navbar">
  <div class="nav-logo">
    <div class="logo">
      <img src="/assets/img/logo.png">
    </div>
    <div class="name">
      <span>
        SAUTRON Jean Davidson
      </span>
    </div>
  </div>
  <div #menu class="nav-menu">
    <ul #menuList class="menu-list">
      <li>Accueil</li>
      <li>Compétences</li>
      <li>Mes projets</li>
      <li>Contact</li>
    </ul>
  </div>
  <div class="w-20 hamburger">
    <div appShowMenu [list]="menuList" [menu]="menu" class="btn-hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>